/* navbar container title and links */
.navbar {
    display: flex;
    align-items: stretch;
    padding: 10px;
    border: 2px solid #444;
    background-color: rgb(44, 44, 44); 
    align-items: center; 
    margin: -10px;
    margin-bottom: 30px;
}

.navbar-title {
    padding-left: 30px;
    color:rgb(255, 255, 255);
    font-family: 'roboto condensed', sans-serif;
    font-size: 40px;
}

.navbar-list {
    display: flex;
    margin-left: auto;
    font-family: 'roboto condensed', sans-serif;   
}

.navbar-link {
    display: flex;
    padding: 20px;
    flex: 1;    
}
/* sets rules for small screen sizes */
@media screen and (min-width:320px) and (max-width:600px) {
   
    .navbar {
        display: flex;
        align-items: stretch;
        padding: 5px;
        border: 2px solid #444;
        background-color: rgb(44, 44, 44); 
        align-items: center; 
        margin-bottom: 30px;
        margin-left: -10px;
        margin-right: -445px;
    }

    .navbar-title {
        padding-left: 20px;
        color:rgb(255, 255, 255);
        font-family: 'roboto condensed', sans-serif;
        font-size: 40px;
        justify-content: flex-start;
    }
    
    .navbar-list {
        display: flex;
        margin-left: auto;
        font-family: 'roboto condensed', sans-serif;    
    }
    
    .navbar-link {
        display: flex;
        padding: 20px;        
}
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .navbar {
        display: flex;
        align-items: stretch;
        padding: 5px;
        border: 2px solid #444;
        background-color: rgb(44, 44, 44); 
        align-items: center; 
        margin-bottom: 30px;
        margin-left: -10px;
        margin-right: -405px;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .navbar {
        display: flex;
        align-items: stretch;
        padding: 5px;
        border: 2px solid #444;
        background-color: rgb(44, 44, 44); 
        align-items: center; 
        margin-bottom: 30px;
        margin-left: -10px;
        margin-right: -490px;
    }
}